*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
  font-family: 'monstseratt', sans-seriff;
}

.app{
  background-image: url('./Images/homescreenbg.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}

.app.warm{
  background-image: url(./Images/snowy.jpeg)
}

main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.349), rgba(0, 0, 0, 0.582));
  padding: 0px;
  
}

.search-box{
 width:30%;
 margin: 75px auto;
}

.search-box .search-bar{
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.664);
  border-radius: 16px 16px 16px 16px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.3);

  color:  #181818;
  font-size: 20px;

  transition: 0.4s ease;
}

.search-box .search-bar:focus{
  background-color: rgba(255, 255, 255, 0.75);
}



.location-box{
  margin-top:80px ; 

}

.location-box .location{
  color: #FFF;
  font-size: 70px;
  font-weight: 500px;
  text-align: center;
 

}

.location-box .date{
 color: #FFF;
  font-size:25px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
 
}

.time{
  color: #FFF;
  font-size: 32px;
  font-weight: 250;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5)
}

.weather-box {
  width: 35%;
  margin:  75px auto;
  background-color: rgba(0, 0, 0, 0.657);
  border-radius: 16px;
  padding: 15px 55px;
  position: flex; 

}


.weather-box .temp{
  color: #FFF;
  font-size: 102px;
  font-weight: 900;
  
  
  text-align: center;
  
}

.weather-box .icon{
  color: #FFF;
  font-size: 102px;
  font-weight: 900;
  
  
  text-align: center;
  
}

.weather-box .weather{
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  
  text-align: center;
}


.form-inner{
  width: 450px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.774);
  border-radius: 7px;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  padding: 20px 45px;
  text-align: center;
  position: relative;
}

.form-inner .form-group1{
  color: #FFF;
  text-align: center;

}

.form-inner .form-group2{
  color: #FFF;
  font-size: 25px;
  font-weight: 100; 
  text-align: center;

}


.form-group2 .search-bar{
  display:inline-block;
  width: 100%;
  padding: 4px;

  appearance: none;
  
  border: none;
  background: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.377);
  border-radius: 6px 6px 6px 6px;

  box-shadow: 0px 2px rgba(0, 0, 0, 0.3);

  color:  #313131;
  font-size: 15px;

  transition: 0.4s ease;

}

.form-group2 .search-bar:focus{
  background-color: rgba(255, 255, 255, 0.75);
}

.bg-modal{
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.657) !important;
  position: absolute !important;
  top: 0 !important;
  display: flex ;
  justify-content: center !important;
  align-items: center !important;
}

.modal-header{
  display: inline !important;
}

.modal-body{
  width: 450px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.376);
  border-radius: 7px;
  padding: 20px 45px;
  text-align: center;
  position: relative;
}

.modal-content{
  align-items: center

}
.modal-main button{
  border-radius: 18px;
  border: 0px;
}


.display-block {
  display: block;
}

.display-none {
  display: none;
}

.logo{
  text-align: center;
}

.logo .mainlogo{
  margin-top: 90px;
  height: 350px;
  width: 1050px;
  max-height: 800px;
  max-width: 100%;
  border-radius: 7px;
  padding: 10px 10px;
  text-align: center;
  position: relative;
  justify-content: center;
  align-items: center;
  
  
}

.wi-time-1{
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 42px;
  transform: (45deg);
  
}


.homepage .btn{
  margin-top: 40px;
  border-radius: 18px;
  border: 0px;
  padding:10px 40px;
  text-align: center;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 254, 254, 0);
  color: white;
  border: 2px solid white;
  transition: 0.3s;
  outline: none;
}

.homepage .btn:hover{
   background-color: black;
  color: white;
  border-color: black;
}

.homepage button span{
  color: rgba(255, 255, 255, 0.801);
}

label {
  position: relative;
}

label:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
}

input {
  padding: 10px 30px;
}

.header{
 text-align: center;
 background-color: rgba(0, 0, 0, 0.657);
 background-position: 0% 0%;
 height: 70px;
 width: 100%;
 padding: 4px 16px 4px 16px;
 display: flex;
 transition: all 0s ease 0s;

}

.search-box1{
 width:60%;
 margin: 12px auto;
}

.search-box1 .search-bar{
  display: block;
  width: 100%;
  padding: 6px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.685);
  border-radius: 11px 11px 11px 11px;


  color:  #080808;
  font-size: 16px;

  transition: 0.4s ease;
}

.search-box1 .search-bar:focus{
  background-color: rgb(255, 255, 255);
}

.search-box1 .search-bar:hover{
  background-color: rgb(255, 255, 255);
}

.header-logo{
  height: 60px;
  width: 240px;
  margin: 8px 10px 8px;
}

.homepage{
  width: 100%;
  margin:  0;
  border-radius: 16px;
  padding: 15px 55px;
  position: flex; 
}

.homepage .location{
   color: rgba(255, 255, 255, 0.794);
  font-size: 50px;
  font-weight: 100px;
  text-align: center;
  
}